@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Oswald:wght@400;600&family=PT+Sans&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(255, 255, 255);
}

.App {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 10% 90%;
  font-family: 'Oswald', sans-serif;
}


nav {
  display: flex;
  line-height: 30px;
  padding: 10px 20px;
  justify-content: space-between;
  border-bottom: 5px solid rgba(0, 0, 0, 0.176);
  font-family: 'Oswald', sans-serif;
}

nav.dark {
  background: rgb(39, 39, 39);
  color: white;
  border-bottom: 5px solid rgba(255, 255, 255, 0.596);

}

.theme {
  display: flex;
  align-items: center;
  gap: 5px;
}



.toggle-darkmode {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 2px;
  background: black;
  border-radius: 20px;
}

.dark .toggle-darkmode {
  background: white;
  justify-content: flex-end;
}

.toggle-circle {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
}

.dark .toggle-circle {
  background: black;

}

.Main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 5em;
}

div.dark {
  background: rgb(39, 39, 39);
  color: white;
}